body{
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
}
.block{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 1px solid;
}
.parents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
@media (max-width: 800px) {
    .parents{
        flex-wrap: wrap;
    }
}
@media (max-width: 950px) {
    .block{   
        background-color: red;
        margin: 20px;
    }
}

@media (max-width: 650px) {
    .block{
        background-color: green;
        height: 500px;
    }
}
@media (max-width: 350px) {
    .block{
        border-radius: 50%;
        background-color: yellow;
        height: 200px;  
        
    }
}
img{
    display: none;  
    width: 100%;
    height: 100%;
}
@media (max-width: 350px) {
    img{
        display: block;
        border-radius: 50%
    }
}